FOOTER {
  min-width: 150px;
  height: 120px;
  background-color: SandyBrown;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.footer_in {
  box-sizing: border-box;
  border-radius: 5px;

  height: 100%;
  padding: 2%;
}

.footer_btns {
  position: relative;
  float: right;
  padding-top: 5px;
  width: 80%;
}

.footer_l li {
  display: inline-block;
  float: right;
  width: 40px;
  margin-top: -10px;

  text-align: center;
  text-align: center;
  background: SkyBlue;
}

.footer_btns_block {
  font-size: 80%;
  float: left;
}

.biu {
  position: relative;
  top: -15px;
  float: left;
  display: block;
  width: 200px;
}

.biu_style li {
  float: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background: SkyBlue;
}

.bold {
  font-weight: bold;
}
.italy {
  font-style: italic;
}
.udn {
  text-decoration: underline;
}

.send {
  float: right;
  width: 25%;
  background-color: SkyBlue;
}
